 body{
    background-color: rgb(224, 236, 233);
}
.contonair{
    text-align: center;
}
.sous-contonair{
    margin-top:30vh;
}
.btn{
    border-radius: 8px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
#spn{font-size: 55px; 
    color: rgb(136, 175, 162);
}
.btn:hover{
    background-color: black;
    color: white;
}
